@font-face { 
  font-family: 'Roboto'; 
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'), 
       url('../fonts/Roboto-Regular.woff') format('woff'), 
       url('../fonts/Roboto-Regular.ttf') format('truetype'); 
  font-weight: 400; 
  font-style: normal; 
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    width: 100%;
}

body.guest {
    background: url("../img/bg.jpg") no-repeat fixed;
    background-size: cover;
}

.container {
  width: 990px;
  margin: 0 auto;
  padding: 20px 0;
}

.logo-wrapper {
    max-width: 990px;
    margin: 0 auto;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    font-weight: 900;
    margin: 0;
}

.logo-part {
    font-weight: 100;
    font-family: 'Roboto', Arial, sans-serif;
}

.login-button {
  display: flex;
  flex-direction: column;
  width: 71px;
  height: 40px;
  border-radius: 3px;
  padding: 12px;
  background-color: #16A6AF;
  color: white;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.12), 0 0 3px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.login-button:hover {
  background-color: #138b94;
}

.admin-logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  color: white;
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
}

.admin-subtitle {
  position: absolute;
  font-size: 1.2rem;
  letter-spacing: 0.5em;
  font-weight: 100;
  text-transform: uppercase;
  margin: 5px 0 0;
  transform: scaleX(0.50);
  margin-left: 0;
  top: 30px;
  left: -99px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 15px;
  }
  
  .logo-wrapper {
    align-items: center;
    text-align: center;
    padding: 15px;
  }
  
  .admin-container {
    width: 100%;
    padding: 15px;
  }
}

@media (max-width: 390px) {
  .container {
    padding: 10px;
  }
  
  .logo-text {
    font-size: 24px;
  }
  
  .login-button {
    margin-top: 10px;
  }
}